@import 'variables';
@import 'keyframes';
@import 'mixins';
@import 'reset';

*, *:before, *:after {
    box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

html, body {
	position: relative;
}

body {
  	font-family: $base-font-family;
	font-size: $base-font-size+px;
	line-height: $base-line-height;
	background-color: $base-bg;
  	font-weight: $base-font-weight;
  	margin: 0 auto !important;
  	color: $black100;
}

.wrp {
	position: relative;
}

.cntr {
	max-width: $default-container+px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	@include mq(max, $default-container) {
		padding-left: $default-pl+px;
		padding-right: $default-pl+px;
	}
}
.ov-hidden {
	overflow: hidden;
}
.is-wide {
	width: 100%;
	height: 100%;
}

.twhite {
	color: $white!important;
}

.bg-gray {
	background-color: $gray700;
}

.v-pc {
	display: none;
	@include mq(min, $default-container-md) {
		display: block;
	}
}
.v-sp {
	display: block;
	@include mq(min, $default-container-md) {
		display: none;
	}
}
.mlr-auto {
	margin-left: auto;
	margin-right: auto;
}

.plr-0-xs {
	@include mq(max, $default-container-md - 1) {
		padding-left: 0!important;
		padding-right: 0!important;
	}
}